APP_PORT=8080
LOG_LEVEL=info
LOG_DIR=.logs

DATABASE_URL=postgres://open_suite:open_suite@localhost:5432/open_suite?sslmode=disable
DATABASE_MAX_OPEN_CONNS=10
DATABASE_MIN_CONNS=1
DATABASE_MAX_CONN_LIFETIME=1h
DATABASE_MAX_CONN_IDLE_TIME=30m

REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
