APP_PORT=8080
APP_PUBLIC_URL=http://localhost:8080
LOG_LEVEL=info
LOG_DIR=.logs

DATABASE_URL=postgres://open_suite:open_suite@localhost:5432/open_suite?sslmode=disable
DATABASE_MAX_OPEN_CONNS=10
DATABASE_MIN_CONNS=1
DATABASE_MAX_CONN_LIFETIME=1h
DATABASE_MAX_CONN_IDLE_TIME=30m

REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0

MAIL_ENABLED=false
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@open-suite.local

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/api/v1/auth/google/callback
GOOGLE_SCOPES=openid,email,profile
GOOGLE_DEFAULT_ORGANIZATION_ID=1
GOOGLE_SUCCESS_REDIRECT_URL=
GOOGLE_FAILURE_REDIRECT_URL=

KEYCLOAK_ENABLED=false
KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_LOGIN_CLIENT_ID=
KEYCLOAK_LOGIN_CLIENT_SECRET=

FREEIPA_ENABLED=false
FREEIPA_BASE_URL=https://ipa.logstack.web.id
FREEIPA_USERNAME=
FREEIPA_PASSWORD=
FREEIPA_INSECURE_SKIP_VERIFY=false

AUTHZ_CACHE_TTL=5m
AUTHZ_APP_CODE=authorization-center
AUTHZ_TOKEN_SECRET=change-me
AUTHZ_TOKEN_TTL=15m
